* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*::after,
*::before {
    box-sizing: inherit
}

a {
    color: inherit
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Inter', sans-serif;
}





.main_container {}

.main_title {}

.main_subtitle {}







// import file scss
@import 'responsive';
