#card_2,
#home .card_bottom,
#home .card_top {
    background-repeat: no-repeat
}

#card_2 .title,
#home .card_top ul li,
.discount_card .text,
header ul .text {
    text-align: center;
    font-size: 18px
}

#card_2,
#card_3,
#home .card_bottom,
#home .card_top {
    background-size: cover;
    background-position: center
}

#card_3 .description,
#card_4 {
    padding: 0 21px 0 20px
}

#card_5 .card_in,
#home .card_bottom .text_wrapper .text,
#home .card_top,
.card_1 .text {
    position: relative
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none
}

::after,
::before {
    box-sizing: inherit
}

a {
    color: inherit
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

body {
    font-family: Inter, sans-serif
}

.wrapper {
    max-width: 576px;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px 6px 14px 5px
}

header {
    border-radius: 17px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 11px 0 18px;
    margin-bottom: 6px
}

header .logo {
    display: flex;
    align-items: center;
    gap: 5px
}

header .logo .title {
    color: #1664fd;
    text-align: center;
    font-size: 49px;
    font-style: normal;
    font-weight: 800;
    line-height: normal
}

#card_2 .title,
#home .card_bottom .text_wrapper span,
.card_1 .text span,
.discount_card .text,
.discount_card .text span,
.discount_card_in h5,
.discount_card_in p,
.korea .korea_card h5,
.other_effekt h4,
.other_effekt_bottom h4 {
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

#card_2 .description,
#home .card_top ul li,
header ul .text {
    font-weight: 400;
    line-height: normal;
    font-style: normal
}

header .logo .img_wrapper {
    border-radius: 17.5px;
    border: 1px solid #1664fd;
    width: 71px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4px
}

#card_2,
#card_3,
#home .card_bottom,
#home .card_top,
.card_1,
.discount_card {
    border-radius: 17px
}

header .logo .img {
    width: 29px;
    height: 29px;
    background: #1664fd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

header .main_title {
    color: #3c4b5e;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 17px
}

header ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px
}

header ul li {
    display: flex;
    align-items: center;
    gap: 7px
}

header ul .text {
    color: #3c4b5e
}

#home .card_top {
    height: 280px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    overflow: hidden
}

#home .card_top ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 6px
}

#card_2,
.discount_card .icon {
    align-items: center;
    display: flex
}

#home .card_top ul li {
    width: 100%;
    padding: 8px;
    color: #fff
}

#home .card_top ul li span {
    font-weight: 900
}

#home .card_top ul li:not(:last-child) {
    border-bottom: 2px solid rgba(255, 255, 255, .3)
}

#home .card_bottom {
    background-image: url("../images/home_bottom_card_bg.webp");
    position: relative;
    height: 428px;
    overflow: hidden;
    margin-bottom: 6px
}

#home .card_bottom .box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 262px;
    height: 386px;
}

#home .card_bottom .logo_1 {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%)
}

#home .card_bottom .text_wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
}

#home .card_bottom .text_wrapper span {
    white-space: nowrap;
    color: #1664fd;
    text-align: center;
    font-size: 18px;
    margin-top: 7px
}

#home .card_bottom .text_wrapper .logo_2 {
    transform: translate( 53px, -13px)
}

.discount_card {
    background: #f1f1f1;
    padding: 16px 0 23px;
    margin-bottom: 12px
}

.discount_card .icon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #fff;
    justify-content: center;
    margin: 0 auto 6px
}

.discount_card .text {
    color: #3c4b5d
}

.discount_card .text span {
    color: #1664fd;
    font-size: 23px;
    display: block;
    margin: 6px 0
}

.card_1 {
    background: radial-gradient(76.16% 76.16% at 31.97% 19.67%, rgba(255, 255, 255, .7)0%, rgba(255, 255, 255, 0)69.79%, rgba(255, 255, 255, 0)100%), #38c558;
    box-shadow: 4px 12px 62px 0 rgba(14, 63, 25, .36);
    height: 89px;
    padding-top: 34px;
    display: flex;
    justify-content: center;
    margin-bottom: 11px
}

.card_1 .text span {
    color: #fff;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-size: 20px
}

.card_1 .text svg {
    position: absolute;
    right: -25px;
    top: 7px
}

#card_2 {
    background-image: url("../images/card_2_bg.webp");
    flex-direction: column;
    justify-content: flex-end;
    height: 404px;
    padding: 0 21px 31px 20px;
    margin-bottom: 8px
}

#card_2 .title {
    color: #fff;
    height: 40px;
    margin-top: 11px
}

#card_4 .check,
#card_4 .number {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    align-items: center;
    display: flex
}

#card_2 .description {
    color: #fff;
    text-align: center;
    font-size: 18px
}

#card_3 .description,
#card_3 .title_1,
#card_3 .title_2 {
    color: #3c4b5d;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal
}

#card_3 {
    background-image: url("../images/card_3_bg.webp");
    padding: 14px 0 30px;
    margin-bottom: 22px
}

#card_3 .title_1 {
    font-weight: 700;
    margin-bottom: 10px
}

#card_3 .title_1 span {
    display: block;
    text-transform: uppercase
}

#card_3 .description {
    margin-bottom: 325px;
    font-weight: 400
}

#card_4 .description_1,
#card_4 .title_1 {
    margin-bottom: 11px
}

#card_3 .title_2 {
    font-weight: 600
}

#card_4 .title_1 {
    color: #1664fd;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

#card_4 .description {
    color: #3c4b5d;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

#card_4 .number {
    background: #1664fd;
    margin: 0 auto 6px;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

#card_4 .title_2,
#card_5 .title_1 {
    color: #1664fd;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    font-style: normal
}

#card_4 .title_2 {
    font-weight: 400;
    margin-bottom: 14px
}

#card_4 .check {
    justify-content: center;
    background-color: #3c4b5d;
    margin: 0 auto 6px
}

#card_4 .description_2,
footer ul li h4 {
    margin-bottom: 14px
}

#card_4 .description_3 {
    margin-bottom: 34px
}

#card_5 .line {
    background: #1664fd;
    width: 257px;
    margin: 0 auto;
    height: 1px
}

#card_5 .card_in,
.choose_product,
.contact .contact_title {
    text-align: center
}

#card_5 .card_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 395px;
    border-radius: 17px;
    background: linear-gradient(180deg, rgba(22, 100, 253, .22)0%, rgba(217, 217, 217, 0)100%)
}

#card_5 .title_1 {
    font-weight: 700;
    margin-bottom: 22px;
    padding-top: 26px
}

#card_5 .description,
.korea .korea_card {
    margin-bottom: 27px;
    text-align: center
}

#card_5 img {
    display: block;
    margin: 0 auto 12px
}

#card_5 .description {
    color: #3c4b5d;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 30px
}

#card_5 .title_2,
.effekt h3,
.korea .korea_card h4,
.problem h4,
.problem h5 {
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: center
}

#card_5 .title_2 {
    color: #1664fd;
    font-size: 18px;
    height: 34px;
    margin-top: 22px
}

.korea {
    margin-top: 24px;
    padding: 0 31px
}

.korea .korea_card h4 {
    margin-bottom: 13px;
    color: #1664fd;
    font-size: 18px;
    text-transform: uppercase
}

.korea .korea_card img {
    margin: 0 auto;
    border-radius: 14px;
    box-shadow: 0 4px 121px 0 rgba(0, 0, 0, .25)
}

.korea .korea_card h5,
.korea .korea_card p {
    margin-top: 13px;
    color: #3c4b5d;
    font-size: 18px;
    text-align: center
}

.korea .korea_card p,
.problem ul li span {
    font-weight: 400;
    font-style: normal;
    line-height: normal
}

.problem {
    margin-bottom: 21px;
    padding: 21px 41px 14px;
    border-radius: 17px;
    background: #f1f1f1
}

.problem .problem_in {
    max-width: 250px;
    margin: 0 auto;
}

.problem h4 {
    margin: 0 auto 12px auto;
    max-width: 100%;
    color: #1664fd;
    font-size: 16px;
}

.problem h5 {
    margin: 0 auto 23px auto;
    max-width: 100%;
    color: #3a495a;
    font-size: 15px;
}

.problem ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 7px
}

.problem ul li .problem_img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #fff
}

.discount_card_in .discount_icon,
.other_effekt_bottom .other_effekt_bottom_img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    display: flex
}

.problem ul li span {
    max-width: 100%;
    color: #000;
    font-size: 14px
}

.effekt,
.other_effekt {
    max-width: 258px;
    margin: 0 auto;
    text-align: center
}

.effekt h3 {
    color: #1664fd;
    font-size: 19px;
    margin-bottom: 9px
}

.effekt p,
.effekt span {
    margin-bottom: 24px;
    font-style: normal;
    color: #3c4b5d;
    font-size: 18px;
    text-align: center
}

.effekt p {
    font-weight: 400;
    line-height: normal
}

.effekt span {
    display: block;
    font-weight: 600;
    line-height: normal
}

.other_effekt_bottom h3,
.users h4,
.users h5 {
    font-weight: 700;
    line-height: normal;
    font-style: normal
}

.effekt img {
    margin: 0 auto 18px
}

.other_effekt h4 {
    color: #1664fd;
    font-size: 19px
}

.other_effekt ul {
    margin-top: 17px;
    margin-bottom: 36px
}

.other_effekt ul li {
    color: #3c4b5d;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.other_effekt ul span {
    margin: 7px auto;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1664fd
}

.discount_card_in {
    padding-top: 22px;
    border-radius: 17px;
    background: #1664fd;
    text-align: center
}

.discount_card_in .discount_card_in_border {
    max-width: 266px;
    margin: 0 auto 20px
}

.discount_card_in .discount_icon {
    margin: 0 auto 12px;
    justify-content: center
}

.discount_card_in img {
    margin: 12px 0
}

.discount_card_in p {
    color: #fff;
    text-align: center;
    font-size: 14px
}

.discount_card_in h5 {
    color: #f56c75;
    font-size: 23px
}

.other_effekt_bottom {
    padding: 16px 30px 23px;
    border-radius: 17px;
    background: #f1f1f1;
    text-align: center
}

.other_effekt_bottom .other_effekt_bottom_img {
    margin: 0 auto 6px;
    justify-content: center
}

.other_effekt_bottom h4 {
    color: #3c4b5d;
    font-size: 18px
}

.other_effekt_bottom h3 {
    margin: 12px auto;
    color: #1664fd;
    font-size: 23px
}

.users h4 {
    font-size: 19px;
}

.users h5 {
    font-size: 17px;
}

.users {
    max-width: 252px;
    margin: 27px auto 0;
    text-align: center
}

.users h4 {
    color: #1664fd;
    margin-bottom: 28px
}

.users h5 {
    color: #3c4b5d;
    margin-bottom: 9px
}

.users .users_img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 16px
}

.users p {
    color: #3c4b5d;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.023%;
    margin-bottom: 33px
}

.users_bottom h4,
.users_bottom h5 {
    color: #fff;
    line-height: normal;
    font-weight: 700;
    font-style: normal;
    text-align: center
}

.users_bottom {
    border-radius: 17px;
    background: #fbb97d;
    padding: 23px 30px
}

.users_bottom h5 {
    font-size: 18px;
    margin-bottom: 18px
}

.users_bottom h4 {
    font-size: 17px;
    text-decoration-line: strikethrough
}

.choose_product .choose_product_card_in p del,
.users_bottom h4 del {
    text-decoration: line-through
}

.choose_product .choose_title {
    margin: 29px auto 27px
}

.choose_product .choose_title h4 {
    color: #3c4b5d;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 237.023%
}

.choose_product .choose_title p {
    color: #3c4b5d;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 237.023%
}

.choose_product .choose_product_card_in {
    margin-bottom: 6px;
    padding: 21px 0 15px;
    border-radius: 17px;
    background: #1664fd;
    text-align: center
}

.choose_product .choose_product_card_in h5 {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 237.023%;
    margin-bottom: 6px
}

.choose_product .choose_product_card_in img {
    margin: 12px auto
}

.choose_product .choose_product_card_in p {
    margin-bottom: 6px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.023%
}

.choose_product .choose_product_card_in span {
    display: block;
    margin: 11px auto;
    background: #fff;
    width: 213px;
    height: 1px
}

.choose_product .choose_product_card_in button {
    cursor: pointer;
    border: none;
    margin: 5px auto 14px;
    width: 209px;
    height: 59px;
    color: #3c4b5d;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 17px;
    background: #fff;
    line-height: 237.023%
}

.choose_product .choose_product_card_in h6 {
    color: #9dbcfc;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 237.023%
}

.contact .contact_title h4,
.contact .contact_title p {
    font-style: normal;
    line-height: 120%;
    margin-bottom: 25px;
    color: #3c4b5d;
    font-size: 20px
}

.choose_product .choose_product_card_in.two {
    background: #38c558
}

.choose_product .choose_product_card_in.three,
footer ul li {
    background: #2c4477
}

.choose_product .choose_product_card_in.two h6 {
    color: #134b20
}

.choose_product .choose_product_card_in.three img {
    width: 218px;
    height: 240px
}

.choose_product .choose_product_card_in.three h6 {
    color: #9dbcfc
}

.contact {
    margin-top: 44px;
    padding: 0 32px
}

.contact .contact_title h4 {
    text-align: center;
    font-weight: 700
}

.contact .contact_title p {
    font-weight: 400
}

.contact .form {
    margin-bottom: 44px
}

.contact .form input {
    width: 100%;
    margin-bottom: 11px;
    height: 72px;
    color: #3c4b5d;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    border-radius: 17px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .13);
    box-shadow: 4px 12px 62px 0 rgba(14, 63, 25, .13);
    /* box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .13);
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .13) inset !important;
    -moz-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .13) inset !important; */
}

.contact .form button,
footer ul li h4,
footer ul li p {
    color: #fff;
    text-align: center;
    font-style: normal;
    line-height: 120%
}

.contact .form input:focus {
    outline: 0
}

.contact .form button {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 72px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    border-radius: 17px;
    background: radial-gradient(76.16% 76.16% at 31.97% 19.67%, rgba(255, 255, 255, .7)0%, rgba(255, 255, 255, 0)69.79%, rgba(255, 255, 255, 0)100%), #38c558;
    box-shadow: 4px 12px 62px 0 rgba(14, 63, 25, .36)
}

footer ul li {
    margin-bottom: 7px;
    padding: 30px 33px;
    border-radius: 17px
}

footer ul li h4 {
    font-size: 20px;
    font-weight: 700
}

footer ul li p {
    font-size: 18px;
    font-weight: 400
}