* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*::after,
*::before {
    box-sizing: inherit
}

a {
    color: inherit
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    padding: 8px 6px 14px 5px;
}

header {
    border-radius: 17px;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 11px 0 18px;
    margin-bottom: 6px;

    .logo {
        display: flex;
        align-items: center;
        gap: 5px;
        
        .title {
            color: #1664FD;
            text-align: center;
            font-size: 49px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .img_wrapper {
            border-radius: 17.5px;
            border: 1px solid #1664FD;
            width: 71px;
            height: 35px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 4px;
        }

        .img {
            width: 29px;
            height: 29px;
            background: #1664FD;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .main_title {
        color: #3C4B5E;
        text-align: center;
        font-size: 27px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 17px;
    }
    
    ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 6px;

        li {
            display: flex;
            align-items: center;
            gap: 7px;
        }

        .text {
            color: #3C4B5E;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

#home {
    .card_top {
        // background-image: url('../images/home_top_card_1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 17px;
        height: 280px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 6px;
        overflow: hidden;
        position: relative;
        
        // img {
        //     width: 100% !important;
        //     height: 100% !important;
        //     object-fit: cover;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: -1;
        // }
    
        ul {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding-bottom: 6px;
    
            li {
                width: 100%;
                text-align: center;
                padding: 8px;
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
    
                span {
                    font-weight: 900;
                }
            }
    
            li:not(:last-child) {
                border-bottom: 2px solid rgba(255, 255, 255, 0.30);
            }
        }
    }

    .card_bottom {
        background-image: url('../images/home_bottom_card_bg.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 428px;
        overflow: hidden;
        border-radius: 17px;
        margin-bottom: 6px;

        .box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        }

        .logo_1 {
            position: absolute;
            top: 18px;
            left: 50%;
            transform: translateX(-50%);
        }

        .text_wrapper {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            .text {
                position: relative;
            }

            span {
                white-space: nowrap;
                color: #1664FD;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 7px;
            }
        }
    }
}

.discount_card {
    border-radius: 17px;
    background: #F1F1F1;
    padding: 16px 0 23px;
    margin-bottom: 12px;
    
    .icon {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 6px;
    }

    .text {
        color: #3C4B5D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        span {
            color: #1664FD;
            font-size: 23px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: block;
            margin: 6px 0;
        }
    }
}

.card_1 {
    border-radius: 17px;
    background: radial-gradient(76.16% 76.16% at 31.97% 19.67%, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.00) 69.79%, rgba(255, 255, 255, 0.00) 100%), #38C558;
    box-shadow: 4px 12px 62px 0px rgba(14, 63, 25, 0.36);
    height: 89px;
    padding-top: 34px;
    display: flex;
    justify-content: center;
    margin-bottom: 11px;

    .text {
        position: relative;

        span {
            color: #FFF;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        svg {
            position: absolute;
            right: -25px;
            top: 7px;
        }
    }
}

#card_2 {
    background-image: url('../images/card_2_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 404px;
    border-radius: 17px;
    padding: 0px 21px 31px 20px;
    margin-bottom: 8px;

    .title {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 40px;
        margin-top: 11px;
    }

    .description {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

#card_3 {
    background-image: url('../images/card_3_bg.webp');
    background-size: cover;
    background-position: center;
    border-radius: 17px;
    padding: 14px 0px 30px;
    margin-bottom: 22px;

    .title_1 {
        color: #3C4B5D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;

        span {
            display: block;
            text-transform: uppercase;
        }
    }

    .description {
        margin-bottom: 325px;
        padding: 0px 21px 0px 20px;
        color: #3C4B5D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .title_2 {
        color: #3C4B5D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

#card_4 {
    padding: 0 21px 0 20px;

    .title_1 {
        color: #1664FD;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 11px;
    }

    .description {
        color: #3C4B5D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .description_1 {
        margin-bottom: 11px;
    }

    .number {
        width: 33px;
        height: 33px;
        background: #1664FD;
        border-radius: 50%;
        margin: 0 auto 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .title_2 {
        color: #1664FD;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 14px;
    }

    .check {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3C4B5D;
        margin: 0 auto 6px;
    }

    .description_2 {
        margin-bottom: 14px;
    }

    .description_3 {
        margin-bottom: 34px;
    }
}

#card_5 {
    .line {
        background: #1664FD;
        width: 257px;
        margin: 0 auto;
        height: 1px;
    }

    .card_in {
        position: relative;
        text-align: center;
    }

    .card_bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 395px;
        border-radius: 17px;
        background: linear-gradient(180deg, rgba(22, 100, 253, 0.22) 0%, rgba(217, 217, 217, 0.00) 100%);
    }

    .title_1 {
        color: #1664FD;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 22px;
        padding-top: 26px;
    }

    img {
        display: block;
        margin: 0 auto 12px;
    }

    .description {
        color: #3C4B5D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0px 30px;
        margin-bottom: 27px;
    }

    .title_2 {
        color: #1664FD;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 34px;
        margin-top: 22px;
    }
}





.korea {
    margin-top: 24px;
    padding: 0 31px;
    .korea_card {
        margin-bottom: 27px;
        text-align: center;
        h4 {
            margin-bottom: 13px;
            color: #1664FD;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        img {
            margin: 0 auto;
            border-radius: 14px;
            box-shadow: 0px 4px 121px 0px rgba(0, 0, 0, 0.25);
        }

        h5 {
            margin-top: 13px;
            color: #3C4B5D;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        
        p {
            margin-top: 13px;
            color: #3C4B5D;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.problem {
    margin-bottom: 21px;
    padding: 21px 41px 14px 41px;
    border-radius: 17px;
    background: #F1F1F1;
    h4 {
        max-width: 196px;
        color: #1664FD;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
    }

    h5 {
        max-width: 174px;
        color: #3A495A;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 23px;
    }
    
    ul {
        li {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 7px;
            .problem_img {
                display: flex;
                align-items: center;
                width: 31px;
                justify-content: center;
                height: 31px;
                border-radius: 50%;
                background-color: #fff;
            }
            span {
                max-width: 171px;
                color: #3C4B5E;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.effekt {
    max-width: 258px;
    margin: 0 auto;
    text-align: center;
    h3 {
        color: #1664FD;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 9px;
    }

    p {
        margin-bottom: 24px;
        color: #3C4B5D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    span {
        display: block;
        margin-bottom: 24px;
        color: #3C4B5D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    img {
        margin: 0 auto 18px auto;
    }
}

.other_effekt {
    max-width: 258px;
    margin: 0 auto;
    text-align: center;
    h4 {
        color: #1664FD;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    ul {
        margin-top: 17px;
        margin-bottom: 36px;
        li {
            color: #3C4B5D;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        span {
            margin: 7px auto;
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #1664FD;
        }
    }
}

.discount_card_in {
    padding-top: 22px;
    border-radius: 17px;
    background: #1664FD;
    text-align: center;

    .discount_card_in_border {
        max-width: 266px;
        margin: 0 auto 20px auto;
    }

    .discount_icon {
        margin: 0 auto 12px auto;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    img {
        margin: 12px 0;
    }

    p {
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h5 {
        color: #F56C75;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.other_effekt_bottom {
    padding: 16px 30px 23px 30px;
    border-radius: 17px;
    background: #F1F1F1;
    text-align: center;
    .other_effekt_bottom_img {
        margin: 0 auto 6px auto;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    h4 {
        color: #3C4B5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    h3 {
        margin: 12px auto;
        color: #1664FD;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.users {
    max-width: 252px;
    margin: 27px auto 0 auto;
    text-align: center;
    h4 {
        color: #1664FD;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 28px;
    }

    h5 {
        color: #3C4B5D;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 9px;
    }

    .users_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 16px;
    }

    p {
        color: #3C4B5D;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 145.023%; /* 14.502px */
        margin-bottom: 33px;
    }
}

.users_bottom {
    border-radius: 17px;
    background: #FBB97D;
    padding: 23px 30px;
    h5 {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 18px;
    }

    h4 {
        color: #FFF;
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: strikethrough;

        del {
            text-decoration: line-through;
        }
    }
}

.choose_product {
    text-align: center;
    .choose_title {
        margin: 29px auto 27px auto;        
        h4 {
            color: #3C4B5D;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 237.023%; /* 47.405px */
        }
    
        p {
            color: #3C4B5D;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 237.023%;
        }
    }

    .choose_product_card_in {
        margin-bottom: 6px;
        padding: 21px 0 15px 0;
        border-radius: 17px;
        background: #1664FD;
        text-align: center;

        h5 {
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 237.023%; /* 28.443px */
            margin-bottom: 6px;
        }

        img {
            margin: 12px auto;
        }

        p {
            margin-bottom: 6px;
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 124.023%; /* 14.883px */

            del {
                text-decoration: line-through;
            }
        }

        span {
            display: block;
            margin: 11px auto;
            background: #FFF;
            width: 213px;
            height: 1px;
        }

        button {
            cursor: pointer;
            border: none;
            margin: 5px auto 14px auto;
            width: 209px;
            height: 59px;
            color: #3C4B5D;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            border-radius: 17px;
            background: #FFF;
            line-height: 237.023%; /* 47.405px */
        }

        h6 {
            color: #9DBCFC;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 237.023%; /* 28.443px */
        }
    }

    .choose_product_card_in.two {
        background: #38C558;

        h6 {
            color: #134B20;
        }
    }
    .choose_product_card_in.three {
        background: #2C4477;

        img {
            width: 218px;
            height: 240px;
        }

        h6 {
            color: #9DBCFC;
        }
    }
}

.contact {
    margin-top: 44px;
    padding: 0 32px;
    .contact_title {
        text-align: center;
        h4 {
            color: #3C4B5D;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 25px;
        }

        p {
            color: #3C4B5D;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 25px;
        }
    }

    .form {
        margin-bottom: 44px;
        input {
            width: 100%;
            margin-bottom: 11px;
            border: none;
            text-align: center;
            height: 72px;
            color: #3C4B5D;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%; /* 19.2px */
            border-radius: 17px;
            background: #FFF;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.13) inset;

            &:focus {
                outline: none;
            }
        }

        button {
            cursor: pointer;
            border: none;
            width: 100%;
            height: 72px;
            color: #FFF;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 19.2px */
            border-radius: 17px;
            background: radial-gradient(76.16% 76.16% at 31.97% 19.67%, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.00) 69.79%, rgba(255, 255, 255, 0.00) 100%), #38C558;
            box-shadow: 4px 12px 62px 0px rgba(14, 63, 25, 0.36);
        }
    }
}


footer {
    ul {
        li {
            margin-bottom: 7px;
            padding: 30px 33px;
            border-radius: 17px;
            background: #2C4477;

            h4 {
                color: #FFF;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 14px;
            }

            p {
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
}